In [1]:
# Dataset : FIFA 21 players dataset
# Guideline:
#           1.height and weight columns should be appropriate data types 
#           2.separate joined columns into year, months and day columns
#           3.clean and transform the value, wage and release clause columns into usd
#           4.add team position and contract untill  columns in data
#           5.output will be in csv and excel

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_fifa = pd.read_csv(r'C:\Users\User\Downloads\archive (3)\players_21.csv')
#df_fifa.dropna(inplace=True)
df_fifa.columns
df_fifa.info()
df_fifa.describe()
df_fifa.fillna('NaN')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\User\\Downloads\\archive (3)\\players_21.csv'

In [ ]:
df_fifa['height_cm'] = pd.to_numeric(df_fifa['height_cm'])
df_fifa['weight_kg'] = pd.to_numeric(df_fifa['weight_kg'])
df_fifa[['height_cm', 'weight_kg']]

       height_cm  weight_kg
0            170         72
1            187         83
2            188         87
3            184         80
4            175         68
...          ...        ...
18939        176         73
18940        177         70
18941        185         74
18942        186         80
18943        185         79

[18944 rows x 2 columns]

In [ ]:
df_fifa['joined'] = pd.to_datetime(df_fifa['joined'])
df_fifa['joined']

0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2014-07-01
4       2017-08-03
           ...
18939   2020-01-01
18940   2020-08-01
18941   2019-02-01
18942   2020-08-01
18943   2020-08-01
Name: joined, Length: 18944, dtype: datetime64[ns]

In [ ]:
df_fifa['Year']=df_fifa['joined'].dt.year
#df_fifa['Year']=df_fifa['Year'].dt.year
df_fifa['Month']=df_fifa['joined'].dt.month
df_fifa['Day']=df_fifa['joined'].dt.day
df_fifa[['Year','Month','Day','height_cm', 'weight_kg']].dropna()

         Year  Month   Day  height_cm  weight_kg
0      2004.0    7.0   1.0        170         72
1      2018.0    7.0  10.0        187         83
2      2014.0    7.0  16.0        188         87
3      2014.0    7.0   1.0        184         80
4      2017.0    8.0   3.0        175         68
...       ...    ...   ...        ...        ...
18939  2020.0    1.0   1.0        176         73
18940  2020.0    8.0   1.0        177         70
18941  2019.0    2.0   1.0        185         74
18942  2020.0    8.0   1.0        186         80
18943  2020.0    8.0   1.0        185         79

[17961 rows x 5 columns]

In [ ]:
df_fifa.filter(like ='clause')

       release_clause_eur
0             138400000.0
1              75900000.0
2             159400000.0
3             132000000.0
4             166500000.0
...                   ...
18939             91000.0
18940             57000.0
18941             57000.0
18942             65000.0
18943             47000.0

[18944 rows x 1 columns]

In [ ]:
#df_fifa.filter(like ='wage')
df_fifa['wage_usd']= df_fifa[['wage_eur']].apply(lambda h: h*1.07)
df_fifa['release_clause_usd']= df_fifa['release_clause_eur'].apply(lambda h: h*1.07)
df_fifa['wage_usd'].astype(int)
df_fifa['release_clause_usd'].fillna(0)
df_fifa['release_clause_usd'].astype(float)

0        148088000.0
1         81213000.0
2        170558000.0
3        141240000.0
4        178155000.0
            ...
18939        97370.0
18940        60990.0
18941        60990.0
18942        69550.0
18943        50290.0
Name: release_clause_usd, Length: 18944, dtype: float64

In [ ]:
df_fifa.filter(like ='contract')

       contract_valid_until
0                    2021.0
1                    2022.0
2                    2023.0
3                    2023.0
4                    2022.0
...                     ...
18939                2024.0
18940                2020.0
18941                2022.0
18942                2023.0
18943                2022.0

[18944 rows x 1 columns]

In [ ]:
df_output = df_fifa[['Year','Month','Day','height_cm', 'weight_kg','wage_usd','wage_usd','release_clause_usd','team_position','contract_valid_until']].dropna()
df_output

,Year,Month,Day,height_cm,weight_kg,wage_usd,wage_usd,release_clause_usd,team_position,contract_valid_until
0,2004.0,7.0,1.0,170,72,599200.0,599200.0,148088000.0,CAM,2021.0
1,2018.0,7.0,10.0,187,83,235400.0,235400.0,81213000.0,LS,2022.0
2,2014.0,7.0,16.0,188,87,133750.0,133750.0,170558000.0,GK,2023.0
3,2014.0,7.0,1.0,184,80,256800.0,256800.0,141240000.0,ST,2023.0
4,2017.0,8.0,3.0,175,68,288900.0,288900.0,178155000.0,LW,2022.0
...,...,...,...,...,...,...,...,...,...,...
18939,2020.0,1.0,1.0,176,73,535.0,535.0,97370.0,SUB,2024.0
18940,2020.0,8.0,1.0,177,70,1070.0,1070.0,60990.0,SUB,2020.0
18941,2019.0,2.0,1.0,185,74,1070.0,1070.0,60990.0,RES,2022.0
18942,2020.0,8.0,1.0,186,80,1070.0,1070.0,69550.0,RDM,2023.0
18943,2020.0,8.0,1.0,185,79,2140.0,2140.0,50290.0,RES,2022.0

In [ ]:
df_output.to_csv(r'D:\Python Code\Python-2\PortFolio\project_1_1_output.csv')

In [ ]:
df_output.to_excel(r'D:\Python Code\Python-2\PortFolio\project_1_1_output.xlsx', sheet_name="data")